.top-to-btm {
    position: relative;
    transition: all .5s ease-in-out;
}

.icon-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
}

.icon-style {
    background-color: #6244c5;
    border: 2px solid #6244c5;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.icon-style:hover {
    animation: none;
    background: #fff;
    color: #6244c5;
    border: 2px solid #6244c5;
}