$light-mode: (
    background: #f5f5f5,
    text-color: #202020,
    text-accent: #3D3D3D,
    accent: #ffc448,
    accent-hover: #cea315, 
    border: #1f1e1e,
);

$dark-mode: (
    background: #171923,
    text-color: #a7a4a4,
    text-accent: #c5cddb,
    accent: #6a5acd,
    accent-hover: #5b4cbe, 
    border: #696969,
   
);

