header {
    background-color: var(--background);
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
    
    & .nav,
    & .navbar-text {
        & a {
        color: var(--text-color); }
    }
}


.onScroll {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 0 !important;
    font-size: 1rem;
}

select.language {
    width: auto !important;
    background-color: var(--background);
    border: 1px solid var(--background);
    color: var(--text-color);
    background: var(--icon-select-url) no-repeat;
    background-size: 16px;
    background-position: calc(100% - 10px) 15px;
    transition: all 0.3s ease-in-out;  
}