// Layouts Variation
$smlg-device: 'only screen and (max-width: 1199px)';
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout:'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';

@import '../../../styles/animations';

.hero {

    position: relative;
    z-index: 1;
    padding: 20px 0 0;
    margin-bottom: 5rem !important;

    @media only screen and (min-width: 768px) {
        padding: 60px 0 0;
    }

    @media only screen and (min-width: 1200px) {
        padding: 100px 0 0;
    }

    &::before {
        position: absolute;
        content: "";
        background-image: url(../../../assets/img/shapes/08.png);
        left: -20%;
        top: calc(-55% + 150px);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        z-index: -1;
        pointer-events: none;
    }

    &::after {
        position: absolute;
        content: "";
        background-image: url(../../../assets/img/shapes/03.png);
        right: 0;
        top: calc(-50% + 150px);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        z-index: -1;
        pointer-events: none;
    }

    & .img-fluid {
        max-width: 70%;

        @media only screen and (min-width: 768px) {
            max-width: 50%;
        }

        @media only screen and (min-width: 1024px) {
            max-width: 100%;
        }
    }

    .welcomeHero {

        margin-bottom: 3rem;
        text-align: center;

        @media only screen and (min-width: 576px) {
            margin-bottom: 2rem;
        }

        @media only screen and (min-width: 992px) {
            margin-bottom: 1rem;
            text-align: left;
        }

        & .top {
            margin-bottom: calc(-1.5vw - 5vw);
            display: block;

            @media only screen and (min-width: 576px) {
                margin-bottom: calc(-1.5vw - 3vw);
            }

            @media only screen and (min-width: 768px) {
                margin-bottom: calc(-1.5vw - 1vw);
            }

            & .hello-animated {
                display: inline-block;
                animation: helloMove 10s infinite;
            }

            & .hello {
                margin-left: 5px;
                display: inline-block;
                font-family: 'Montserrat', sans-serif;
                text-transform: lowercase;
                letter-spacing: -1px;
            }
        }

        & h1 {
            margin-bottom: 0 !important;
            font-family: "Cookie", serif;
            font-size: calc(3rem + 4vw);
            letter-spacing: -3px;
        }

        & .job {
            display: block;
            margin-top: calc(-0.5rem - 2vh);
            font-family: 'Montserrat', sans-serif;
            text-transform: lowercase;
            letter-spacing: -1px;

        }
    }

    .socialNetworks {
        & ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 80px;
                height: 1px;
                background-color: var(--text-color);
                left: 0;
                top: 0;
            }

            & li {
                margin: 1em 1em 0;

                &:first-child {
                    margin-left: 0 !important;
                }
            }
        }
    }

    .scroll-down {

        margin: 0 auto;
        font-size: 2em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        animation: scroll-down-arrow infinite ease 2s;
        cursor: pointer;
        padding: 20px;

        @media only screen and (min-width: 768px) {
            font-size: 3em;
        }
    }

    .scroll-down:focus,
    .scroll-down:hover {
        text-shadow: 0px 0px 30px white, 0px 0px 30px white, 0px 0px 30px white, 0px 0px 10px #553300, 0px 0px 10px #553300;
    }

    @keyframes scroll-down-arrow {
        0% {
            transform: translateY(10px);
        }

        80% {
            transform: translateY(0px);
        }

        90% {
            transform: translateY(1px);
        }

        100% {
            transform: translateY(9px);
        }
    }

}

@keyframes helloMove {
    50% {
        transform: rotate(90deg);
    }
}

.background {

    @media only screen and (max-width: 767px) {
        display: none;
    }

    & .top {
        position: relative;

        & .one {
            width: 100px;
            height: 100px;
            background-color: var(--primary-color-hover);
            opacity: 0.5;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            left: 150px;
            z-index: -1;
        }

        & .two {
            width: 150px;
            height: 150px;
            background-color: var(--primary-color-hover);
            opacity: 0.7;
            border-radius: 50%;
            position: absolute;
            bottom: 10px;
            left: 200px;
            z-index: -1;
        }

        & .three {
            width: 120px;
            height: 120px;
            background-color: var(--primary-color-hover);
            opacity: 0.2;
            border-radius: 50%;
            position: absolute;
            bottom: 120px;
            left: 300px;
            z-index: -1;
        }

        & .six {
            width: 175px;
            height: 175px;
            background-color: var(--primary-color-hover);
            opacity: 0.6;
            border-radius: 50%;
            position: absolute;
            bottom: 250px;
            right: 200px;
            z-index: -1;
        }

        & .seven {
            width: 250px;
            height: 250px;
            background-color: var(--primary-color-hover);
            opacity: 0.3;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            left: 450px;
            right: 0;
            z-index: -1;
        }

        & .eight {
            width: 75px;
            height: 75px;
            background-color: var(--primary-color-hover);
            opacity: 0.4;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            left: 350px;
            z-index: -1;
        }

        & .nine {
            width: 45px;
            height: 45px;
            background-color: var(--primary-color-hover);
            opacity: 0.7;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            left: 450px;
            z-index: -1;
        }
    }



    & .four {
        width: 80px;
        height: 80px;
        background-color: var(--primary-color-hover);
        opacity: 0.4;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    & .five {
        width: 50px;
        height: 50px;
        background-color: var(--primary-color-hover);
        opacity: 0.9;
        border-radius: 50%;
        position: absolute;
        bottom: 200px;
        right: 0;
        z-index: -1;
    }


    & .ten {
        width: 150px;
        height: 150px;
        background-color: var(--primary-color-hover);
        opacity: 0.6;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}