.homepage {
    & .about {
        //margin: 0 -100px;
        color: var(--text-color);
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--primary-color);
            opacity: 0.5;
            z-index: -1;
        }


        & h1 {
            color: var(--text-hover);
        }

        & .photo {
            max-width: 50% !important;
            opacity: 0.75;
            transition:  all 0.5s ease-in-out;

            &:hover {
                opacity: 0.85;
            }
        }
    }
}