.homepage {
    & .about {
        //margin: 0 -100px;
        color: var(--text-color);
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--primary-color);
            opacity: 0.5;
            z-index: -1;
        }


        & h1 {
            color: var(--text-hover);
        }

        & .left {

            @media screen and (min-width: 768px) {
                padding-right: 3rem;
            }
            
            & .photo {
                max-width: 100% !important;
                opacity: 0.75;
                transition: all 0.5s ease-in-out;
                border-radius: 1rem !important;

                &:hover {
                    opacity: 0.85;
                }
            }
        }

        .overview {
            display: grid;
            row-gap: 20px;
            justify-items: center;
            padding: 0;
            margin: 36px 0 0;

            grid-template-columns: repeat(2, minmax(0, 1fr));

            @media screen and (min-width: 992px) {
                grid-template-columns: repeat(4, minmax(0, 1fr));
                margin: 36px 0;
            }

            & p {
                font-size: 14px !important;
            }
        }
    }
}