@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800'); // body

$main-color: #12141d;
$primary-color: #6244c5;
$accent-color: #ffc448;


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}


::selection {
    background-color: #e45447;
    color: #fff;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  color: $main-color;
  margin: 0;
  padding: 0;
}

#root, .App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
    padding: 100px 0;
}

.content {
    min-height: 700px;
}


