@import 'bootstrap/scss/bootstrap';
@import 'https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css';

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800'); // body


$main-color: #12141d;
$background-color: #fff;
$primary-color: #6244c5;
$accent-color: #ffc448;

:root {
    --background: #FFF;
    --text-primary: #0f0f0f;
    --text-secondary: #4e4e4e;
    --accent: #dfb017;
    --accent-hover: #cea315; 
    --border: #1f1e1e;
    --shadow: 7px 15px 13px -4px #00000056;
}

[data-theme='dark'] {
    --background: #555;
    --text-primary: #f2f2f2;
    --text-secondary: #a7a4a4;
    --accent: #6a5acd;
    --accent-hover: #5b4cbe; 
    --border: #696969;
    --shadow: 7px 15px 13px -4px #ffffff1b;
}



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}


::selection {
    background-color: #e45447;
    color: #fff;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: $main-color;
    margin: 0;
    padding: 0;
}

#root,
.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    padding: 150px 0;
}

.content {
    min-height: 700px;
    background-color: var(--background);
}

.fadeIn {
    animation: 0.5s fadeIn ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation: 0.5s fadeOut ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



.container-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;
    outline: 1px solid var(--border);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: var(--text-primary);
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--accent);
}


input:checked+.slider:before {
    transform: translateX(1.5em);
}