.nav-tabs {
    border: none !important;

    & .nav-link {
        background-color: transparent !important;
        font-family: 'Montserrat', sans-serif;
        color: var(--text-color) !important;
        border: none !important;
        text-transform: lowercase;

        &:hover,
        &:focus {
            border: none !important;
            border-bottom: solid 4px var(--accent-color) !important;
        }


        &.active {
            border-bottom: solid 4px var(--background) !important;
            color: var(--primary-color) !important;
            font-weight: bold;
            position: relative;

            @media only screen and (min-width: 1200px) {
                &:before {
                    position: absolute;
                    content: "";
                    width: 5em;
                    height: 1px;
                    background-color: var(--text-hover);
                    top: 3em;
                    left: 2em;
                }
            }
        }
    }
}

// skills 
.skillBar {
    display: flex;
    align-items: center;

    & .typeSkill {

        font-size: 13px;
        font-weight: bold;

        @media only screen and (min-width: 1200px) {
            font-size: 15px;
        }
    }

    & .containerBar {
        height: 20px;
        background: var(--skillBaseBgColor);
        border-radius: 50px;
        width: 100%;
        margin: 1em 0px;
        overflow: hidden;

        & .fillerBar {
            height: 20px;
            background: var(--secondary-color);
            transition: all 0.3s ease-in-out 0s;
            display: flex;
            align-items: center;
            justify-content: right;

            & .labelBar {
                padding: 5px;
                color: white;
                font-weight: bold;
                font-size: 13px;

                @media only screen and (min-width: 1200px) {
                    font-size: 15px;
                }
            }
        }
    }
}

// lists
.sticky-list {

    & .topInfo {

        margin-bottom: 1.5em;

        & span.data {
            color: var(--primary-color);
        }
    }

    & .jobInfo {

        & h4 {
            & span {
                display: inline-block;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    width: 20px;
                    height: 1px;
                    background-color: var(--text-hover);
                    top: -10px;
                    left: 0;
                }
            }
        }

        & p {
            font-size: small;
            border-left: 2px solid var(--accent-color);
            padding-left: 1em;
            font-style: italic;
        }
    }
}